<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manip">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import manip urdf file -->
    <xacro:include filename="$(find manip_description)/urdf/manip.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="manip.ros2_control.xacro" />


    <xacro:manip_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
